@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar Utility */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
  /* Gray-300 for thumb, transparent track */
}

/* Webkit Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  /* Slim width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  /* Gray-300 */
  border-radius: 20px;
  /* Rounded corners */
  border: transparent;
  /* Padding around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
  /* Gray-400 on hover */
}